{
  "packs": [
{{- $sep := "" }}
{{- range $name, $mod := .root.modules }}
{{- with $mod.config }}
{{- with .pack }}
{{ $sep }}    {
      "id": {{ printf "%q" .id }},
      "title": {{ printf "%q" .title }},
      "description": {{ printf "%q" .description }},
      "pipeline": {{ printf "%q" .pipeline }},
      "repo": {{ printf "%q" (printf "https://github.com/%s" .github) }},
      "source": {{ printf "%q" (printf "https://github.com/%s/tree/%s/%s" .github .treeRef .origin) }}
    }
{{- $sep = "," }}
{{- end }}
{{- end }}
{{- end }}
  ]
}
